# API Configuration
NEXT_PUBLIC_API_URL=https://api.kidsgourmet.com.tr

# WordPress API URL
NEXT_PUBLIC_WORDPRESS_API_URL=https://api.kidsgourmet.com.tr/wp-json

# Site URL (Frontend)
NEXT_PUBLIC_SITE_URL=https://kidsgourmet.com.tr
